target
.idea
.tile_cache
galileo/pkg
Cargo.lock
.env

# Ignore large sample files
**/*.laz

# Fonts for examples can be downloaded by running `just get_fonts`
galileo/examples/data/fonts

# Npm
**/package-lock.json
**/node_modules
**/dist

# ctags
tags
