name: Build, check and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --verbose --all
      - name: Tests
        run: cargo test --features _tests,geojson --verbose
      - name: Doc tests
        run: cargo test --doc --features geojson --verbose

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Rustfmt check
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup component add clippy
      - name: Clippy check
        run: cargo clippy --all-targets --features geojson -- -D warnings

  check-wasm:
      name: Build wasm32 target
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - run: rustup target add wasm32-unknown-unknown
        - run: cargo check --target wasm32-unknown-unknown --all-features
  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v4
    - name: Spell Check Repo
      uses: crate-ci/typos@v1.29.4
